<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoogleMap API</title>
  </head>
  <body>
    <% for (let i = 0; i < locations.length; i++) { %>
    <a href="/<%= parseInt(locations[i].id, 10) - 1 %>"
      ><%= locations[i].id %>.) <%= locations[i].name %></a
    >
    <br />
    <% } %>
  </body>
</html>
